*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body{
    background-color: var(--light-color);

    color: var(--base-color);
    font-family: var(--base-font);
}

h1{
    color: var(--base-color);
    font-family: var(--accent-font);
    font-size: 4em;
}

a{
    text-decoration: none;
    color: var(--base-color);
}

a:hover{
    color: var(--medium-color);
}

ul{
    list-style: none;
}