.gallery{
    margin: 2rem auto;
    gap: 2em;

    flex-direction: row;

    flex-wrap: wrap;
    justify-content: space-around;

    align-items: flex-start;
}

.gallery article{
    width: 40vh;
}

.gallery article:hover{
    opacity: 0.6;
}

.gallery article img{
    width: 100%;

    object-fit: cover;
    overflow: hidden;
}