.some-icons a{
    display: flex;

    font-size: 4em;

    flex-direction: row;
}

.some-icons img{
    width: 30vw;
    height: 30vh;

    object-fit: scale-down;
    overflow: hidden;

    justify-items: space-around;
    align-self: center;
}

nav label img:hover{
    opacity: 0.6;
}