:root{
    --base-color: #38302e;
    --accent-color: #6f6866;
    --medium-color: #788585;
    --soft-color: #9caea9;
    --light-color: #ccdad1;
    --white-color: #fff;
    --black-color: #000;

    --base-font:
    --accent-font:
}