:root{
    --base-color: #242423;
    --accent-color: #f5cb5c;
    --light-color: #cfdbd5;
    --white-color: #e8eddf;
    --black-color: #0B0A07;

    --base-font: Verdana, Geneva, Tahoma, sans-serif;
    --accent-font: 'Anton', sans-serif;
}